*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  height: 100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2E86AB;
}

.calc{
  height:90vh;
  width: 400px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F6F5AE;
  border: 1px solid whitesmoke;
  border-radius: 20px;
  border: 5px solid black;
}

.btn-container{
  height: 700px;
  width: 360px;
  margin-left: 15px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: #2E86AB;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

button{
  margin-top: 8px;
  height: 95px;
  width: 105px;
  color: black;
  font-size: 32px;
  border: 1px solid goldenrod;
  border-radius: 20px;
  background-color: #F6F5AE;
}

.display{
  color: black;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 12px;
  margin-bottom: 8px;
  font-size: 32px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0px 12px;
}